fastapi
uvicorn
sqlalchemy
pydantic
python-dotenv
loguru
requests
pandas
numpy
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
git add .
git commit -m "update"
git branch -M update
git remote add origin https://github.com/muhammadaldhi/GoldBot.git
git push -u origin update

